@import '../../common.less';
@import '../../inconfont.less';
.header{
    height: 134px;
    background-image: linear-gradient(-90deg, #FD6062 0%, #FC9264 100%);
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        background: url(../../assets/img/bott_shadow.png) no-repeat left bottom;
        background-size: 100% auto;
    }
    .user_head{
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        border: 4px solid rgba(252, 146, 100, .7);
        box-shadow: 0 4px 8px 0 rgba(185,45,18,0.57);
        border-radius: 50px;
    }
}
.order_panel{
    margin: 0 15px;
    padding: 10px 0;
    background: #FFFFFF;
    .boxShadow();
    border-radius: @borderRadius;
}
.act_menu{
    margin: 15px;
    .boxShadow();
    position: relative;
    overflow: hidden;
    border-radius: @borderRadius;
    padding: 0 15px;
    .act_item{
        padding: 10px 5px 10px 0;
        &:not(:first-child){
            .thin-ty-line();
        };
    }
}