html, body, :global(#root) {
    height: 100%;
    width: 100%;
    color: #333333;
    line-height: 1.7em;
    font-size: 14px;
}
body{
    font-family:  "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
}
a{text-decoration: none; color: #333; transition: all .35s linear;}
a:active{color: #FF8E44;}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,article{margin:0;padding:0}
