@import '../../common.less';
.pro_panel{
    border-radius: @borderRadius;
    box-shadow: 0 4px 20px #ddd;
}
.car_icon{
    width: 30px;
    height: 30px;
    background: url(../../assets/svg/car.svg) no-repeat;
    background-size: cover;
}
.service_icon{
    width: 25px;
    height: 25px;
    background: url(../../assets/svg/service.svg) no-repeat;
    background-size: cover;
}
.color_tag{
    @mlVal: 10px;
    width: calc(~"25% - @{mlVal}");
    width: -webkit-calc(~"25% - @{mlVal}");
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: #ddd solid 1px;
    border-radius: 18px;
    margin-top: 7px;
}
.color_tag_select{
    .color_tag;
    border-color: @orange;
    color: @orange;
}
.footer_bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top: #ddd solid 1px;
    padding: 10px 0;
}
.money_color{
    color: @orange;
}
.car_sty, .buy_sty{
    background: @orange; 
    color: #fff;
    height: 45px;
    border-radius: 22.5px 0 0 22.5px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    .transition();
}
.car_sty:active{
    background: @orangeTap;
}
.buy_sty{
    background: @orangeRed;
    border-radius: 0 22.5px 22.5px 0;
}
.buy_sty:active{
    background: @orangeRedTap;
}